<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>

    <section name="PaymentServiceProvider" type="Starbucks.PaymentService.Provider.Configs.PaymentServiceProviderConfigurationSection, Starbucks.PaymentService.Provider" />
    <section name="PaymentServiceMockConfiguration" type="Starbucks.PaymentService.Provider.Configs.PaymentServiceMockConfigurationSection, Starbucks.PaymentService.Provider" />
    <section name="PaymentServiceLoggingConfig" type="Starbucks.PaymentHub.WebApi.Logging.PaymentHubLoggingConfig, Starbucks.PaymentHub.WebApi" />

    <section name="fraudDataProviderSettings" type="Starbucks.FraudData.Provider.FraudDataProviderSettings, Starbucks.FraudData.Provider" />

    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings,    Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="smLogConfig" type="Starbucks.StructuredMessageLog.Runtime.SMLogConfig, Starbucks.StructuredMessageLog.Runtime" />

    <section name="dataSafe" type="Starbucks.Platform.Interop.DataSafe.DataSafeConfigurationSection, Starbucks.Platform.Interop.DataSafe" />
    
    <section name="OAuth2ServiceSettings" type="Starbucks.PaymentHub.Authentication.Provider.Model.OAuth2ServiceSettings" />
    <section name="PublicKeyServiceSettings" type="Starbucks.PaymentHub.Authentication.Provider.Model.PublicKeyServiceSettings" />

    <sectionGroup name="ApiSdkHttpClientConfigurations">
      <sectionGroup name="httpSettings">
        <section name="accertifyGatewayApi" type="Starbucks.Api.Sdk.Common.Configuration.HttpSettingsConfigSection, Starbucks.Api.Sdk.Common" />
        <section name="riskAssessmentApi" type="Starbucks.Api.Sdk.Common.Configuration.HttpSettingsConfigSection, Starbucks.Api.Sdk.Common" />
        <section name="accountApi" type="Starbucks.Api.Sdk.Common.Configuration.HttpSettingsConfigSection, Starbucks.Api.Sdk.Common" />
      </sectionGroup>
      <sectionGroup name="clients">
        <section name="accertifyEvaluateRisk" type="Starbucks.Api.Sdk.Common.Configuration.RestClientSettingsConfigSection, Starbucks.Api.Sdk.Common" />
        <section name="deviceFraudCheck" type="Starbucks.Api.Sdk.Common.Configuration.RestClientSettingsConfigSection, Starbucks.Api.Sdk.Common" />
        <section name="getAddresses" type="Starbucks.Api.Sdk.Common.Configuration.RestClientSettingsConfigSection, Starbucks.Api.Sdk.Common" />
        <section name="getUser" type="Starbucks.Api.Sdk.Common.Configuration.RestClientSettingsConfigSection, Starbucks.Api.Sdk.Common" />
      </sectionGroup>
    </sectionGroup>

  </configSections>

  <dataSafe keyId="web_test_rsa" source="WEB" address="https://testsecurews.sbweb.prod/DataSafeMock/datasafe/request/" timeout="1000">
    <publicKey>
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxmphiYQGyIm/MeCSlOtd
      fFjrdbppVaVBLNjCaQ1A7fzHbwhi9FuIf4uhEnlgpgVcsbGNHfFC4d+6IMBWQ7FG
      a3S6nRtDzAlmSgwTtcWzvajEeFoVbXcZ/GeEUup94LNlFky536JALgvTw78OXxvT
      C5H6UHyZsKZRMByGmr3F11ktJ1dD+/3abbRy9hgBXNxOp33ZDO0TpiH/0YL+oEyG
      ZEu3KsADzbTRnltVMDikJLnbuoa6WPnm0MMOZjDiQ3KwiaU1+UrMRlSPx1hvIjk9
      xWkyTA/wKRwJEx8AtKjvNjDI+L8r84Al9R1ltiteVt1zDqhzRfAD0VUJTgDPOS0o
      HQIDAQAB
      -----END PUBLIC KEY-----
    </publicKey>
  </dataSafe>
  
  <!-- PaymentService Provider -->
  <PaymentServiceProvider configSource="PaymentHubConfiguration.xml" />
  <PaymentServiceMockConfiguration configSource="PaymentHubMockConfiguration.xml" />
  <PaymentServiceLoggingConfig itemLog="true" fullLog="false" title="PaymentHubApi" />

  <!-- Iovation Provider -->
  <ApiSdkHttpClientConfigurations>
    <httpSettings>
      <riskAssessmentApi domainUrl="https://test8host.openapi.starbucks.com/RiskAssessment/v1/" timeout="5000" />
      <!--<riskAssessmentApi domainUrl="http://localhost:35333/" timeout="5000" />-->
      <accountApi domainUrl="https://test8host.openapi.starbucks.com/Account/v1/" timeout="5000" />
      <accertifyGatewayApi domainUrl="https://test8securehost.openapi.starbucks.com/AccertifySecureGateway/V1/" timeout="10000" />
    </httpSettings>
    
    <clients>
      <!--<riskAssessment httpSettingsConfigSection="default" relativeEndpoint="/ReputationManagement/v1/" />-->
      <accertifyEvaluateRisk httpSettingsConfigSection="accertifyGatewayApi" relativeEndpoint="evaluate-risk" />
      <deviceFraudCheck httpSettingsConfigSection="riskAssessmentApi" relativeEndpoint="risk" />
      <getAddresses httpSettingsConfigSection="accountApi" relativeEndpoint="users/{0}/addresses" />
      <getUser httpSettingsConfigSection="accountApi" relativeEndpoint="users/{0}" />
    </clients>
  </ApiSdkHttpClientConfigurations>

  <!-- FraudData Provider -->
  <fraudDataProviderSettings>
  </fraudDataProviderSettings>

  <connectionStrings>
    <add name="Logging" connectionString="testdb3.sbweb.prod\ssd01;Initial Catalog=Logging;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="Profiles" connectionString="Data Source=testdb1.sbweb.prod\ssd01;Initial Catalog=starbucks_profiles;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="JwtCertificateThumbprint" value="4ba597fce3c9bb92155b5b458c71c188c7bc34c0" />
    <add key="HttpTlsLevel" value="TLS_1.2" />
    <add key="swaggerRootUrl" value="http://localhost:48577" />
    
    <!-- logging -->
    <add key="ServiceName" value="PaymentHub" />
    <add key="LogCounterQueuePathWCF" value="net.msmq://testmsmq/private/StageLogCounter" />
    <add key="LogCounterQueuePath" value="testmsmq\private$\LogCounter" />
    <add key="DisableLogCounter" value="false" />

    <!-- DebugLogging (only for debugging)-->
    <add key="DebugLogging" value="false" />

    <!-- used by DataSafe-->
    <add key="DataSafeCertSubjectName" value="Pete Keyes" />
    <add key="SkipDataSafeInitialization" value="true" />

    <!-- cybersource -->
    <!--
    <add key="CyberSourceGatewayClient.BaseUri" value="http://localhost:9357/" />
    -->
    <add key="CyberSourceGatewayClient.BaseUri" value="https://test8securepayment.starbucks.com/cybersourcegateway/v1/" />
    <add key="CyberSourceGatewayClient.TimeoutMs" value="10000" />

    <!-- PayPal -->
    <!--
    <add key="PayPalGatewayClient.BaseUri" value="http://localhost:38097/" />
    -->
    <add key="PayPalGatewayClient.BaseUri" value="https://test8securepayment.starbucks.com/PayPalGateway/v1/" />
    <add key="PayPalGatewayClient.TimeoutMs" value="30000" />
    
  </appSettings>

  <OAuth2ServiceSettings baseAddress="https://sbux-eapi-dev-develop.apigee.net" timeoutInMS="5000" getClientAccessTokenRoute="oauth/client_credential/accesstoken?grant_type=client_credentials" clientId="ClientSecretIdABC123" clientSecret="ClientSecretPasswordABC123" />

  <PublicKeyServiceSettings baseAddress="https://sbux-eapi-dev-develop.apigee.net" timeoutInMS="5000" getPublicKeyRoute="public-key-lookup-service/keys/{0}" />
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <smLogConfig eventLevel="Verbose" pathFormat="C:\logs\SecureOpenApi\PaymentHub\v1\PaymentHub.WebApi_{Date}.log" outputTemplate="{Message}{NewLine}" fileSizeLimitBytes="1073741" retainedFileCountLimit="11" forceFlush="true" />

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="APILog" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Message Queuing Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" queuePath="FormatName:Direct=OS:testmsmq\private$\logging" formatter="Binary Log Message Formatter" timeToBeReceived="10.00:00:00" useAuthentication="false" useDeadLetterQueue="true" traceOutputOptions="None" />
      <add name="File" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="openapi.PaymentServiceWebApi.log" formatter="Text Formatter" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.BinaryLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Binary Log Message Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" minimumPriority="1" name="Priority Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="APILog">
        <listeners>
          <!--<add name="Message Queuing Trace Listener" />-->
          <add name="File" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Message Queuing Trace Listener" />
          <!--<add name="File" />-->
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0E99375E54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.2.0" newVersion="1.8.2.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  


<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
